body {
    margin: 0;
    padding: 0;
}

div {
    margin: 20px 20px 20px 12px;
}

input[type=text] {
    width: 100%;
}

textarea {
    width: 100%;
    height: 200px;
}

button {
    border-radius: 10px;
}